.navbar{background-color: #141E3C; color: #fff}
.primary{background-color: #ED79F9}

:root{
  --bs-body-font-family: 'Lato', sans-serif;
  --link: #007eb3;
  --highlight: #173a64
}

#variable_info_pane .info-title{text-align: left}
.info-body table{margin: .2em 0 .5em 0}